@import 'utils';
.header-container {
    @include header;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-container {
    @include centerFlex;
    position: relative;
    left: 0;
    .logo {
        font-family: $js;
        font-size: 1.2rem;
        font-weight: 700;
        margin: 0px 10px 10px 10px;
    }
}

#iSpans {
    font-weight: 500;
    &:nth-child(1) {
        color: $liiight-orange;
    }
    &:nth-child(2) {
        color: $liiight-red;
    }
    &:nth-child(3) {
        color: $liiight-blue;
    }
}

#waveSpan {
    font-family: $dot;
    letter-spacing: 10px;
    font-size: 2.2rem;
}

.icon-container {
    @include centerFlex;
    margin: auto;
    cursor: pointer;
    .circle-1 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $liiight-orange;
    }
    .circle-2 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $liiight-red;
    }
    .circle-3 {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background: $liiight-blue;
    }
}

.searchbar-container {
    @include centerFlex;
    position: relative;
    right: 0;
    background: #fff;
}