@import 'utils';
.model-box-container {
    width: 100%;
    height: 100%;
    @include grid1;
    background: linear-gradient(to right, #C4E0E5, #4CA1AF);
    position: absolute;
    top: 50px;
    z-index: 0;
}

.model-box {
    @include centerFlex;
    margin: auto;
    width: 60em;
    video {
        max-width: 100%;
    }
}