@import 'utils';
.navigation-container {
    @include navigation;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.bolt-play {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    margin: auto;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.bolt {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-orange;
    }
}

.empath-btn {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    position: relative;
    right: 0;
    margin-right: 20px;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.empath {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-red;
    }
}

.build-btn {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    position: relative;
    left: 0;
    margin-left: 20px;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.build {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-blue;
    }
}