@import 'utils';
.navigation-container {
    @include navigation;
    background: #fff;
    border-top: 1px solid $liiight-grey;
}

.bolt-play {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    margin: auto;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.bolt {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-orange;
    }
}

.empath-btn {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    position: relative;
    right: 0;
    margin-right: 20px;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.empath {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-red;
    }
}

.circle-btn {
    padding: 5px 7px;
    background: none;
    border-radius: 50%;
    border: none;
    position: relative;
    left: 0;
    margin-left: 20px;
    &:active {
        border-radius: 50%;
        background: #cccccc;
        box-shadow: inset 33px -33px 100px #ededed, inset -33px 33px 100px #ffffff;
    }
}

.circle {
    transition: $eio;
    cursor: pointer;
    &:hover {
        color: #383838;
        transition: $eio;
    }
    &:active {
        color: $liiight-blue;
    }
}