@import 'utils';
*::before,
*::after,
* {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

body {
    @include wh100;
}

//main app container
.app-container {
    @include wh100;
    @include grid1;
}

//components
@import 'Header';
@import 'ModelBox';
@import 'EmpathWidget';
@import 'PartsWidget';
@import 'Navigation';
//mobile & tablet responsiveness 
@import 'tablet';
@import 'mobile';